*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: left;
    font-size: 20px;
    border-bottom: 1px solid #e5e5e5;
}
nav button{
    display: none;
}
nav .logo{
    width: 30%;
    text-align: center;
    margin-top: 20px;

}
nav .logo h1{
    color: purple;
}
nav .logo h1 span{
    color: red;
}
nav  .menu{
    width: 60%;
    text-align: center;
    margin-top: 20px;
}
nav .menu ul li{
    list-style: none;
    float: left;
    padding: 10px;
    margin: 0 20px;
}
nav .menu ul:nth-child(2) li{
    position: relative;
    top: -8px;
    left: 140px;
    color: #757575;
}
nav .menu ul li a{
    text-decoration: none;
    color: #747575;
}
nav .menu ul li a:hover{
    color: #00ffff;
}
nav form{
    position: absolute;
    width: 60%;
    left: 25%;
    top: 65px;
}
nav form input{
    width: 90%;
    position: relative;
    top: -45px;
    padding: 10px 0px;
    border: none;
    outline: none;
    transform: scaleX(0);
    transform-origin: right;
    transition: .5s;
    border-bottom: 1px solid #e5e5e5;

}
nav form input::placeholder{
    font-size: 20px;

}
/*js-css*/
nav form input.expand{
    transform: scaleX(1);
    padding: 10px;
}
nav form input.expand ~ .fa-search{
    visibility: hidden;
}
nav form input.expand ~ .fa-times{
    display: block;
}
nav form .fa{
    position: absolute;
    top: -40px;
    right: 40px;
    cursor: pointer;
    color: #757575;
}
.fa-times{
    display: none;
}
section{
    width: 100%;
    height: 700px;
    background: #d5d3c4;
    display: flex;
    justify-content: space-around;
}
.details, .image{
    width: 50%;
    padding: 50px;
    font-size: 20px;
    color: #5f5a5a;
}
h4, p{
    padding: 20px;
    margin: 20px;
}
img{
    width: 100%;
}

}