@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; 
}

nav{
    background: #1b1b1b;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}
nav .logo{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
}

nav ul li a:hover,
nav ul li a.active{
    color: #1b1b1b;
    background: #fff;
    transition:all 0.3s ease;
}

nav .menu-btn i{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#search{
    padding: 10px;
}

#click{
    display: none;
}

@media(max-width:940px){
    nav ul{
        position: fixed;
        top:80px;
        left:-100%;
        background: #111;
        height: 100vh;
        width: 30%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
         
    }
    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d"; /*this is the code of "X" icon in font awesome */

    }
    nav ul li{
       margin: 40px 0;  
    }
    nav ul li a{
        font-size: 20px;
        display: block;
        
    }
    nav ul li a:hover,
    nav ul li a.active{
    color: cyan;
    background: none;
    transition:all 0.3s ease;
}
nav .menu-btn i{
    display: block;
}



}

